<%- include("./partials/headers.ejs")  %>
<body>
  <div class="superparent-container">
  <div class="parent-container">
    
    <h3>Which one is Yours?</h3>
    <div class =" address-container">
      <% if(locals.cityNames.length != 0){ %>
        <form method="get">
        <% for(let i =0; i < cityNames.length;i++){ %>
            
            <div class="my-3">
            <input class="btn btn-light" value="<%=cityNames[i].properties.formatted  %>" formaction="/datu/<%=cityNames[i].properties.place_id %>" type="submit">
            </div>
        <% } %>
    </form>        
    <% }else{ %>
        <h2>No Cities matching your name were found</h2>
    <% } %>  
    
    </div>
  </div> 
</div>
<div class="icon-container">
  <span class="material-symbols-outlined" id="icon-pack">
    volunteer_activism
  </span>
  <p>TRUSTED By 1000+ Users across the world</p>
</div>          
</body>
<%- include("./partials/footer.ejs")  %>
